---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight" id="post">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered is-2 has-text-weight-semibold">{{ page.title }}</h1>
        <hr>

        <div class="columns is-variable is-5">
          <!-- {% if page.post-image %}
          <div class="column is-4">
            <figure class="image">
              <img src="{{ page.post-image }}" alt="{{ page.title }}" id="post-image">
            </figure>
          </div>
          {% endif %} -->
          
          <div class="column">
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>

</html>
